{% extends "shared/base.html" %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "virtual machines" "/virtualmachines" %}
    {% breadcrumb "tags" "virtualmachines.views.virtualmachines_tagsView"  %}
{% endblock %}

{% block tag_space %}
 
 <div class="container">

<div class="col-sm-8">

   <h5> Tags </h5>




<div class="panel panel-simple">
  <div class="panel-body">

{% for tag in tags %}






     <h5><a href="{{ tag.get_absolute_url }}">{{ tag.title|upper }}</a></h5></p>

     {% endfor %}
  </div>
</div>

</div></div></div>





  {% endblock %}



 

