{% extends "shared/base.html" %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "virtual machines" "/virtualmachines" %}
    {% breadcrumb "types" "virtualmachines.views.TypesView" %}
{% endblock %}

{% block tag_space %}
 
 <div class="container">

<div class="col-sm-8">

   <h5> Types of virtualmachines </h5>




<div class="panel panel-simple">
  <div class="panel-body">

{% for Type in Types %}






     <h5><a href="{{ virtualmachinesType.get_absolute_url }}">{{ Type.title }}</a></h5></p>

     {% endfor %}
  </div>
</div>
<br><br><br><br><br>
<br><br><br><br><br>

</div>




  {% endblock %}



 

