
{% load virtualmachines_extras %}
					
			




					<!-- Sidebar column start -->
					<div class="col-sm-4 col-md-2 sidebar">
					<!-- Widget start -->
						<div class="widget">
				<!-- Spacer --> <h3>Virtual Machines</h3>
						</div>

						<!-- Widget end -->
											<!-- Widget start -->
						<div class="widget">
			  <p> <a href="./help/aws-security/" class="btn btn-virtualmachines-main">Security</a>  </p>
       <p> <a href="./help/aws-instructions/" class="btn btn-virtualmachines-main">Instructions</a> </p>
      <p>  <a href="./help/disclaimer/" class="btn btn-virtualmachines-main">Disclaimer</a> </p>
      <p>  <a href="./help/faq/" class="btn btn-virtualmachines-main">FAQ</a> </p>
						</div>
						<!-- Widget end -->

											<!-- Widget start -->
						<div class="widget">
				   <h4>Specifications</h4>
<p class="tags">{% virtualmachines_taglist %}</p>
						</div>
						<!-- Widget end -->


											<!-- Widget start -->
						<div class="widget">
					<h4>Formats</h4>
			 <p class="tags">{% virtualmachines_typelist %}</p>
						</div>
						<!-- Widget end -->

			
						

					</div>
					<!-- Sidebar column end -->

 





