{% extends "shared/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

    <div class="container">
 
<div class="navbar navbar-inverse navbar-fixed-top"> 
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "bio" "" %}
{% endblock %}



      {% block landing-page %}
   
   

<div class="col-sm-12">
<div class="post-entry">
     



     <h4>{{ bio.title|safe }}</h4>
     
     {{ bio.about|safe}}
    


    </div>

    <br>  <br>  <br>  <br>  <br>
    

    </div>
      </div> </div>




{% endblock %}
