{% load static from staticfiles %}
{% load blog_extras %}
{% load virtualmachines_extras %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="google-site-verification" content="nxNTaHuZPVaTEIHuvS78pOfWNZvLXaOorFqYXnli_ck" />
		<title>jamessmithies.org</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'shared/css/style.min.css' %}" />
	</head>
	<body>
		<!-- Preloader -->
		<div class="page-loader">
			<div class="loader">Loading...</div>
		</div>
		<!-- Wrapper start -->
		<div class="main">
			<nav class="navbar navbar-fixed-top one-page" ></nav>
            <div class="navbar-header pull-right">
            <a id="nav-expander" class="nav-expander fixed">
            <p class="small-black-text">Tweets &nbsp;<i class="fa fa-toggle-left"></i></p>
            </a>
        </div>

        <nav>
            <ul class="list-unstyled main-menu">
            <li class="text-right"><a href="#" id="nav-close"></a></li>
            <li> {% include "/data/web/projectfiles/templates/blog/twitter_sidebar.html" %}</li>
        </nav>
			<!-- About start -->
			<section id="about" class="module">
				<div class="container">
					<div class="row">
			            <div class="col-sm-8 col-sm-offset-2">
						<h1 class="module-title font-alt">James Smithies</h1>
						    <div class="module-subtitle font-alt">
							Digital Humanities | History | Literature | Technology
						    </div>
					    </div>
					    <div class="col-sm-1">
						    <div class="help-block">
								<ul>
									
									<li><a href="./blog"> Blog</a></li>
									<li><a href="./projects">Projects</a></li>									
									<li><a href="./virtualmachines">VMs</a></li>							
									<br>
									<li><a href="./bio/">Bio</a></li>
									<li><a href="./publications/">Publications</a></li>
                                    <li><a href="./influences/">Influences</a></li>
                                    <br>
                                    <li><a href="https://twitter.com/jamessmithies">Twitter</a></li>
                                    <li><a href="https://github.com/jamessmithies">GitHub</a></li>
                                    <br>
									<li><a href="./design/">Site Design</a></li>
									<li><a href="./credits/">Site Credits</a></li>
									<li><a href="./contact/">Contact</a></li>

									

								</ul>
							</div>
                  		</div>
					</div><!-- .row -->
					
					<div class="row">
						<div class="col-sm-2">
							<div class="vre-details">
								<p>A virtual research environment. Established 2015. </p>
								
								<p> Built using <a href="http://www.ubuntu.com/">Ubuntu</a>, <a href="https://www.docker.com/">Docker</a>, <a href="https://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, <a href="http://gunicorn.org/">Gunicorn</a>, <a href="http://nginx.org/">Nginx</a>, <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
								
								<p>Hosted on a <a href="https://www.pine64.org/?page_id=7147">Rock64</a>.</p>
							
							</div>
						</div>
					</div>
					
					
					<div class="col-sm-8 col-sm-offset-2">
						<center><i class="fa fa-angle-double-down fa-5x"></i></center>
					</div>
				</div><!-- .container -->

				<!-- Latest blog posts start -->
				<br><br><br>
				{% blog_two_recent %}
				<!-- Latest blog posts end -->
			</section>
		<!-- Widgets start -->
		<div class="module-small bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						
						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">James Smithies</h5>
							<p>Director | King’s Digital Lab </p>
							<p>King's College London</p>
							<p>Strand | London WC2R 2LS</p>
						</div>
						<!-- Widget end -->
					</div>
					
					<div class="col-sm-3">
						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">Blog Tags</h5>
							{% blog_taglist_pipes %}
						</div>
						<!-- Widget end -->
					</div>
					
					<div class="col-sm-3">
						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">Blog Categories</h5>
							{% blog_categorylist_pipes %}
						</div>
						<!-- Widget end -->
					</div>
					
					<div class="col-sm-3">
						<!-- Widget start -->
						<div class="widget">
							<div class="search-box">
								<form onsubmit="window.location = '/search/?q=' + search.value; return false;">
									
									<input id="search" placeholder="Search..." type="search" name="search" class="form-control" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" /></input>
									
									<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
								</form>
							</div>
							<br>
							<p> Built using <a href="http://www.ubuntu.com/">Ubuntu</a> <a href="https://www.vagrantup.com/">Vagrant</a> <a href="https://www.python.org/">Python</a> <a href="https://www.djangoproject.com/">Django</a> <a href="http://gunicorn.org/">Gunicorn</a> <a href="http://nginx.org/">Nginx</a> <a href="http://getbootstrap.com/">Bootstrap</a></p>
							<p>Hosted on a <a href="https://www.raspberrypi.org/">Raspberry Pi</a> </p>
						</div>
					</div>
					<!-- Widget end -->
					
				</div><!-- .row -->
            </div>
		</div>
		<!-- Widgets end -->
		
		<!-- Divider -->
		<hr class="divider-d">
		<!-- Divider -->
		
		<!-- Footer start -->
		<footer class="footer bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<p class="post-meta">A virtual research environment. Established 2015. <a href="/credits">Credits</a></p>
					</div>
					<div class="col-sm-6">
						<div class="footer-social-links">
							<a href="https://twitter.com/jamessmithies"><i class="fa fa-twitter"></i></a>
							<a href="https://github.com/jamessmithies"><i class="fa fa-github"></i></a>
							<a href="/contact"><i class="fa fa-envelope"></i></a>
							<a href="/blog/feed"><i class="fa fa-rss"></i></a>
						</div>
					</div>
				</div><!-- .row -->
			</div>
		</footer><!-- Footer end -->

			
			<!-- Javascript files -->
			<script src="http://code.jquery.com/jquery-2.2.4.min.js"
                    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
                    crossorigin="anonymous"></script>
 
            <script type="text/javascript">

            $(document).ready(function(){                                               
//Navigation Menu Slider
        $('#nav-expander').on('click',function(e){
            e.preventDefault();
            $('body').toggleClass('nav-expanded');
        });
        $('#nav-close').on('click',function(e){
            e.preventDefault();
            $('body').removeClass('nav-expanded');
        });
// Initialize navgoco with default options
        $(".main-menu").navgoco({
            caret: '<span class="caret"></span>',
            accordion: false,
            openClass: 'open',
            save: true,
            cookie: {
                name: 'navgoco',
                expires: false,
                path: '/'
            },
            slide: {
                duration: 300,
                easing: 'swing'
            }
        });

      });
            </script>
            <script src="{% static 'shared/js/custom.min.js' %}"></script>
	</body>
</html>
