{% extends "shared/base.html" %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load blog_extras %}


      <div class="navbar navbar-inverse navbar-fixed-top"> 

      {% block index_home %}

          <div class="navbar-header pull-right">
            <a id="nav-expander" class="nav-expander fixed">
               <p class="small-black-text">Tweets &nbsp;<i class="fa fa-toggle-left"></i></p>
            </a>
          </div>
      </div>

            <nav>
              <ul class="list-unstyled main-menu">
              <li class="text-right"><a href="#" id="nav-close"></a></li>
              <li> {% include "blog/twitter_sidebar.html" %}</li>
            </nav>

			<!-- About start -->
			<section id="about" class="module">
				<div class="container">
					<div class="row">
			            <div class="col-sm-8 col-sm-offset-2">
						<h1 class="module-title font-alt">James Smithies</h1>
						    <div class="module-subtitle font-alt">
							Digital Humanities | History | Literature | Technology
						    </div>
					    </div>
					    <div class="col-sm-1">
						    <div class="help-block">
								<ul>
									
									<li><a href="./blog"> Blog</a></li>
									<li><a href="./projects">Projects</a></li>									
									<li><a href="./virtualmachines">VMs</a></li>							
									<br>
									<li><a href="./bio/">Bio</a></li>
									<li><a href="./publications/">Publications</a></li>
                                    <li><a href="./influences/">Influences</a></li>
                                    <br>
                                    <li><a href="https://twitter.com/jamessmithies">Twitter</a></li>
                                    <li><a href="https://github.com/jamessmithies">GitHub</a></li>
                                    <br>
									<li><a href="./design/">Site Design</a></li>
									<li><a href="./credits/">Site Credits</a></li>
									<li><a href="./contact/">Contact</a></li>

									

								</ul>
							</div>
                  		</div>
					</div><!-- .row -->
					
					<div class="row">
						<div class="col-sm-2">
							<div class="vre-details">
								<p>A virtual research environment. Established 2015. </p>
								
								<p> Built using <a href="https://www.ubuntu.com/">Ubuntu</a>, <a href="https://www.docker.com/">Docker</a>, <a href="https://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, <a href="https://gunicorn.org/">Gunicorn</a>, <a href="https://nginx.org/">Nginx</a>, <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://letsencrypt.org/">Let's Encrypt</a>.</p>
								
								<p>Hosted on a <a href="https://www.pine64.org/?page_id=7147">Rock64</a>.</p>
							
							</div>
						</div>
					</div>
					
					
					<div class="col-sm-8 col-sm-offset-2">
						<center><i class="fa fa-angle-double-down fa-5x"></i></center>
					</div>
				</div><!-- .container -->

				<!-- Latest blog posts start -->
				<br><br><br>
				{% blog_two_recent %}
				<!-- Latest blog posts end -->
			</section>
		
		
	{% endblock %}