{% extends "shared/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

    <div class="container">
 
<div class="navbar navbar-inverse navbar-fixed-top"> 
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "research" "" %}
{% endblock %}

  {% block landing-page %}

     <div class="row">
  <div class="col-sm-12">

{% for writing in writing %}
            <!-- Post start -->
                        <div class="post">
<h1 class="post-title">Research</h1>
<div class="post-entry"> <p>{{ writing.about|safe}}</p> 
{% endfor %}

     <style type="text/css" id="zoterostylesheet" scoped>
.bib-item{padding-left: 22px; text-indent: -22px ;}
</style>

<h2 class="post-title">Books</h2>
{% include "zotero/books-bibliography.html" %}

<h2 class="post-title">Articles</h2>
{% include "zotero/articles-bibliography.html" %}
    </div>


</div></div> </div> </div>


{% endblock %}
