{% extends "shared/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}


<div class="navbar navbar-inverse navbar-fixed-top"> 
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "research" "" %}
{% endblock %}

  {% block landing-page %}

  <div class="container">

     <div class="row">
  <div class="col-sm-12">

{% for research in research %}
            <!-- Post start -->
                        <div class="post">
<h1 class="post-title">Research</h1>
<div class="post-entry"> <p>{{ research.about|safe }}</p> 
{% endfor %}

     <style type="text/css" id="zoterostylesheet" scoped>
.csl-entry{padding-left: 22px; text-indent: -22px ;}
</style>

<br>

<h2 class="post-title">Books</h2>
{% include "zotero/books-bibliography.html" %}
<br>


<h2 class="post-title">Chapters</h2>
{% include "zotero/chapters-bibliography.html" %}
<br>


<h2 class="post-title">Articles</h2>
{% include "zotero/articles-bibliography.html" %}
<br>

<h2 class="post-title">Reviews</h2>
{% include "zotero/reviews-bibliography.html" %}
<br>

<h2 class="post-title">White Papers & Technical Reports</h2>
{% include "zotero/reports-bibliography.html" %}
<br>

<h2 class="post-title">Interviews & Podcasts</h2>
{% include "zotero/interviews-bibliography.html" %}
<br>

<h2 class="post-title">Selected Talks</h2>
{% include "zotero/talks-bibliography.html" %}
<br>

<h2 class="post-title">Selected Conference Papers</h2>
{% include "zotero/conferences-bibliography.html" %}
<br>


</div></div>


<br>
</div></div> </div> </div>


{% endblock %}
