{% extends "shared/base.html" %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load disqus_tags %}
{% disqus_dev %}
{% load blog_extras %}


<div class="navbar navbar-inverse navbar-fixed-top">      

 {% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "blog" "/blog" %}
    {% breadcrumb  entry.title "blog.views.blogdetailView"  %}
{% endblock %}

    <!--Include your brand here-->


{% block entries_index %}

  <div class="navbar-header pull-right">
      <a id="nav-expander" class="nav-expander fixed">
        <p class="small-black-text">Tweets &nbsp;<i class="fa fa-toggle-left"></i></p>
      </a>
    </div>
</div>


<nav>
  <ul class="list-unstyled main-menu">

    <!--Include your navigation here-->
    <li class="text-right"><a href="#" id="nav-close"></a></li>
    <li> {% include "blog/twitter_sidebar.html" %}</li>

</nav>


  <!--{% if entry.hero_image %}
<div class="blog-header-image"><img src="{{ entry.hero_image.url }}"></div>
{% endif %}-->


<section class="module-small">
<div class="container">

<div class="col-sm-9 col-md-offset-1">

                <h1 class="post-title">{{ entry.title|safe}}</h1>
                <div class="post-meta">
                  Published on {{ entry.pub_date}} Filed under  {% for slug in entry.categories.all %}{% if not forloop.first %},{% endif %}<a class="category" href="{% url 'blog:category_list' slug=slug.slug %}"> {{ slug.slug }}{% empty %}  No Categories    {% endfor %}</a>
                </div>
     


<div class="tags">
{% for tag in entry.tags.all %}{% if not forloop.first %}  {% endif %}<a href="{% url 'blog:tag_list' slug=tag.slug %}"> {{ tag.slug }}{% empty %}No Tags{% endfor %}</a></div> 



  <div class="post-entry">

<p>{{ entry.body|safe }}</p>

</div>

<div class="comments">

    {% disqus_show_comments %}

 </div>




</div></div></div>



</section>


{% endblock %}

    



