{% extends "shared/base.html" %}
{% load static %}
{% load taggit_extras %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "blog" "/blog" %}
    {% breadcrumb "archive" "blog.views.archiveindexView" %}
{% endblock %}

{% block entries_index %}

 <div class="container">

<div class="col-sm-8">

<h3>Archive</h3>




    {% for entry in latest %}
        
        <h4>{{ entry.title }}</h4>
        <p>Published on {{ entry.pub_date}}</p>
        <p>{% if entry.excerpt %}

{{ entry.excerpt|safe}}

{% else %}

{{ entry.body|truncatewords:50 }}

{% endif %}</p>
<p><a href="{{ entry.get_absolute_url }}"> Read Full Entry</a></p>

    {% endfor %}


</div>

</div>



{% endblock %}

    



