{{ define "breadcrumbs" }}
<ol class="breadcrumb">
    <li><a href="/">jamessmithies.org</a></li>
    <li><a href="/blog/">blog</a></li>
    <li><a href="/blog/tags/">tags</a></li>
    <li class="active">{{ .Title | lower }}</li>
</ol>
{{ end }}

{{ define "main" }}

<section class="module-small">
<div class="container">

<div class="col-sm-8 col-md-offset-1">

</div>

   <div class="post-header font-alt">
                <h3 class="black-background-title"> Entries tagged '{{ .Title | lower }}'</h3>
              </div>
                <br>

                   {{ range .Pages }}
                    <h1 class="post-title">{{ .Title }}</h1>
                <div class="post-meta">
                  Published on {{ .Date.Format "2 Jan 2006, 3:04 p.m." }} Filed under  {{ range $i, $cat := .Params.categories }}{{ if $i }},{{ end }}<a class="category" href="/blog/categories/{{ $cat | urlize }}/"> {{ $cat | urlize }}</a>{{ end }}
                </div>


      {{ if .Params.excerpt }}

      <div class="post-entry">

<p>{{ .Params.excerpt | safeHTML }}</p>


{{ else }}

{{ .Content | truncate 1000 }}


{{ end }}

<p class="read-more"><a href="{{ .Permalink }}"> Read Full Entry</a></p>

    {{ end }}

  </div></div>

</section>

{{ end }}
