<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN"><html><head><meta charset="UTF-8"><title>Bibliography</title><link rel="stylesheet" type="text/css" href="style.css"></head><body><a id='PN9N565D' style='{display: block; position: relative; top: -150px; visibility: hidden;}'></a><h3 class="collectiontitle">Books</h3>
<div class="full-bib-section"><div class="bib-item"><div class="csl-entry">Smithies, J. (2017). <i><span class="doctitle">The Digital Humanities and the Digital Modern</span></i>. Basingstoke: Palgrave Macmillan.</div><div class="blink"><a href="javascript:show(this);" onclick="show(this);">bib</a><div class="bibshowhide"><div class="bib">@book{smithies_digital_2017,
	address = {Basingstoke},
	title = {The {Digital} {Humanities} and the {Digital} {Modern}},
	isbn = {978-1-137-49944-8},
	language = {English},
	publisher = {Palgrave Macmillan},
	author = {Smithies, James},
	year = {2017},
	note = {OCLC: 1004339671}
}</div></div></div><div class="blink"><a title="Download EndNote record" href="javascript:downloadFile(this);" onclick="downloadFile(this);">ris</a><div class="bibshowhide"><div class="ris">TY  - BOOK
TI  - The Digital Humanities and the Digital Modern
AU  - Smithies, James
CY  - Basingstoke
DA  - 2017///
PY  - 2017
DP  - Open WorldCat
LA  - English
PB  - Palgrave Macmillan
SN  - 978-1-137-49944-8
ER  -</div></div></div></div></div></body></html>