<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN"><html><head><meta charset="UTF-8"><title>Bibliography</title><link rel="stylesheet" type="text/css" href="style.css"></head><body><a id='XI3XZQ9G' style='{display: block; position: relative; top: -150px; visibility: hidden;}'></a><h3 class="collectiontitle">Chapters in books</h3>
<div class="full-bib-section"><div class="bib-item"><div class="csl-entry">Smithies, J. (2018). <span class="doctitle">Full Stack DH: Building a Virtual Research Environment on a Raspberry Pi</span>. In J. Sayers (Ed.), <i>Making Things and Drawing Boundaries:  Experiments in the Digital Humanities.</i> Minneapolis: University of Minnesota Press.</div><div class="blink"><a href="javascript:show(this);" onclick="show(this);">bib</a><div class="bibshowhide"><div class="bib">@incollection{smithies_full_2018,
	address = {Minneapolis},
	series = {Debates in {DH}},
	title = {Full {Stack} {DH}: {Building} a {Virtual} {Research} {Environment} on a {Raspberry} {Pi}},
	booktitle = {Making {Things} and {Drawing} {Boundaries}:  {Experiments} in the {Digital} {Humanities}.},
	publisher = {University of Minnesota Press},
	author = {Smithies, James},
	editor = {Sayers, Jentery},
	year = {2018}
}</div></div></div><div class="blink"><a title="Download EndNote record" href="javascript:downloadFile(this);" onclick="downloadFile(this);">ris</a><div class="bibshowhide"><div class="ris">TY  - CHAP
TI  - Full Stack DH: Building a Virtual Research Environment on a Raspberry Pi
AU  - Smithies, James
T2  - Making Things and Drawing Boundaries:  Experiments in the Digital Humanities.
A2  - Sayers, Jentery
T3  - Debates in DH
CY  - Minneapolis
DA  - 2018///
PY  - 2018
PB  - University of Minnesota Press
ER  -</div></div></div></div></div></body></html>