{{ define "breadcrumbs" }}
<ol class="breadcrumb">
    <li><a href="/">jamessmithies.org</a></li>
    <li class="active">research</li>
</ol>
{{ end }}

{{ define "main" }}

  <div class="container">

     <div class="row">
  <div class="col-sm-12">

            <!-- Post start -->
                        <div class="post">
<h1 class="post-title">Research</h1>
<div class="post-entry"> {{ .Content }}

     <style type="text/css" id="zoterostylesheet" scoped>
.csl-entry{padding-left: 22px; text-indent: -22px ;}
</style>

<br>

<h2 class="post-title">Books</h2>
{{ partial "zotero/books-bibliography.html" . }}
<br>

<h2 class="post-title">Software</h2>
{{ partial "zotero/software-bibliography.html" . }}
<br>


<h2 class="post-title">Chapters</h2>
{{ partial "zotero/chapters-bibliography.html" . }}
<br>


<h2 class="post-title">Articles</h2>
{{ partial "zotero/articles-bibliography.html" . }}
<br>

<h2 class="post-title">Reviews</h2>
{{ partial "zotero/reviews-bibliography.html" . }}
<br>

<h2 class="post-title">White Papers & Technical Reports</h2>
{{ partial "zotero/reports-bibliography.html" . }}
<br>

<h2 class="post-title">Interviews & Podcasts</h2>
{{ partial "zotero/interviews-bibliography.html" . }}
<br>

<h2 class="post-title">Selected Talks</h2>
{{ partial "zotero/talks-bibliography.html" . }}
<br>

<h2 class="post-title">Selected Conference Papers</h2>
{{ partial "zotero/conferences-bibliography.html" . }}
<br>


</div></div>


<br>
</div></div> </div>

{{ end }}
