{% extends "shared/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}


<div class="navbar navbar-inverse navbar-fixed-top">      

 {% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "contact form" "" %}
{% endblock %}
  </div>

{% block entries_index %}
 <!-- Contact start -->
    <section id="contact" >
      <div class="container">

        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="module-title font-alt">Contact</h2>

          </div>

        </div><!-- .row -->

        <div class="row">

       

   <form class="form-horizontal" method="post">{% csrf_token %}
 <fieldset>

  <div class="col-sm-6 col-sm-offset-3"> 
      <div class="form-group">

<form method="post">
    {% csrf_token %}
  <p> Email <br> {{ form.from_email }} </p>
      <p>  Subject <br> {{ form.subject }}</p>


    
                     
    <p> Message <br> {{ form.message }}</p>

 
    <p> <br> {{ form.captcha }}</p>

    <div class="form-actions">
       <input type="submit" class="btn btn-block btn-round btn-d" value="Submit">

</form>
    </div>    </div>


<br><br>
 </div>

  </form>


 </div>
        </div><!-- .row -->

      </div>
    </section>
 
{% endblock %}