Django==3.2.15
django-bootstrap-breadcrumbs
django-ckeditor
django-classy-tags
django-haystack
django-recaptcha
django-storages
django-twitter-tag
django-anymail
django-antispam
django-google-analytics-app
redis
django-redis
gunicorn
boto3
feedparser
Pillow
psycopg2
Pyzotero
requests
twitter
urllib3
Whoosh