Django==2.2.13
django-bootstrap-breadcrumbs==0.9.1
django-ckeditor==5.7.1
django-classy-tags==2.0.0
django-disqus==0.5
django-haystack==2.8.1
django-recaptcha==2.0.4
django-storages==1.7.1
django-twitter-tag==1.2.1
django-anymail==6.0.0
django-antispam==1.0.1
django-google-analytics-app==4.4.0
redis==3.2.1
django-redis==4.10.0
gunicorn==19.9.0
boto==2.49.0
feedparser==5.2.1
Pillow==7.1.0
psycopg2==2.8.2
Pyzotero==1.4.4
requests==2.22.0
twitter==1.18.0
urllib3==1.25.2
Whoosh==2.7.4

